/* Requiered by indent.js --> TOMOVE to indent.js*/
h1 {
    padding-left: 0px !important;
}
h2 {
    padding-left: 0px !important;
}
h3 {
    padding-left: 20px !important;
}
h4 {
    padding-left: 40px !important;
}
h5 {
    padding-left: 60px !important;
}
h6 {
    padding-left: 80px !important;
}

body {
    display: flex;
}

aside {
    display: flex;
    flex-direction: column;
}

aside > nav {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
}

form > div {
    margin-top: 15px;
    margin-bottom: 15px;
}

span#saved-message {
    color: green;
    display: inline;
    font-weight: bold;
    opacity: 0;
    transition-duration: 500ms;
}
