body {
    background-color: antiquewhite;
    width: 100vw;
    display: flex;
    justify-content: center;
}

html {
    overflow-x: hidden;
}

body > section {
    padding: 10vh !important;
    margin: 10vh !important;
    max-width: 950px;
    height: auto;
    background-color: white;
    border-radius: 10px;
}


body > section > header > h1 {
    font-size: 40px !important;
    text-align: center;
    margin-top: 50px !important;
    margin-bottom: 60px !important;
    font-weight: 1000 !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    border-bottom-color: #ccc !important;
    padding-bottom: 40px !important;
}

body > section > header > div.infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

body > section > header > div.infos > a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

body > section > header > div.infos > a > svg path:last-of-type {
    fill: #1068f0;
}

body > section > header > div.infos > a > span {
    font-size: 18px;
    margin-left: 6px;
}

body > section > header > div.infos > div {
    display: inline-flex;
    justify-content: start;
    align-items: center;
}

body > section > header > div.infos > div > p {
    color: #333;
    margin: 0;
    margin-left: 15px !important;
    margin-right: 15px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

body > section > header > div.infos > div > p:first-of-type {
    margin-left: 0px !important;
}

body > section > header > div.infos > div > p:last-of-type {
    margin-right: 0px !important;
}

body > section > header > div.infos > div > p > svg {
    margin-right: 6px !important;
}

body > section > header > div.infos > div > p > svg path:last-of-type {
    fill: #1068f0; /*use dark or very dark secondary*/
}


body > section > main p {
    margin-top: 35px !important;
    margin-bottom: 35px !important;
    font-size: 17px;
    line-height: 1.5;
}

body > section main img {
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.15);
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #eee !important;
}


body > section > main figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body > section > main figure figcaption {
    color: gray;
    font-size: 14px;
    margin-top: 15px !important;
}


body > section > main h2 {
    font-size: 28px !important;
    margin-bottom: 35px !important;
    margin-bottom: 20px !important;
    font-weight: 1000 !important;
}
