/* ########################### */
/* ### COMMON HEADER STYLE ### */
/* ########################### */

/* # ALL # */

header#flowcus-header {
    z-index: 99999999999999;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
}

header#flowcus-header section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 100%;
}

header#flowcus-header section h2 {
    font-size: 30px;
    font-family: 'Lilita One', cursive;
    text-transform: uppercase;
    font-weight: 1000;
}

header#flowcus-header section nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-width: 3px;
    overflow: hidden;
    padding: 5px;

}

header#flowcus-header section nav button {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
    font-family: Georgia;
    color: var(--color-white);
    white-space: nowrap;
    transition-duration: 300ms;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

header#flowcus-header section nav button span {
    display: flex;
    white-space: nowrap;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header#flowcus-header section nav button span.icon {
    padding-right: 6px;
}

header#flowcus-header section nav button span.icon svg path:not(:first-of-type) {
    fill: var(--color-white);
}

header#flowcus-header section nav button:not(.displayed):hover,
header#flowcus-header section nav button:not(.displayed):focus {
    outline-style: solid;
    outline-width: 1px;
}


/* # VIEWS # */

header#flowcus-header section#views {
    background-color: var(--color-primary-very-light);
}

header#flowcus-header section#views h2 {
    color: var(--color-primary-light);
}

header#flowcus-header section#views nav {
    border-color: var(--color-primary-very-light);
    background-color: var(--color-primary-light);
}

header#flowcus-header section#views nav button:not(.displayed):hover,
header#flowcus-header section#views nav button:not(.displayed):focus {
    outline-color: var(--color-primary-very-light);
}

header#flowcus-header section#views nav button.displayed {
    background-color: var(--color-primary);
}


/* # ACTIONS # */

header#flowcus-header section#actions {
    background-color: var(--color-secondary-very-light);
}

header#flowcus-header section#actions h2 {
    color: var(--color-secondary-light);
}

header#flowcus-header section#actions nav {
    border-color: var(--color-secondary-very-light);
    background-color: var(--color-secondary-light);
}

header#flowcus-header section#actions nav button:not(.displayed):hover,
header#flowcus-header section#actions nav button:not(.displayed):focus {
    outline-color: var(--color-secondary-very-light);
}

header#flowcus-header section#actions nav button.displayed {
    background-color: var(--color-secondary);
}




/* ##################### */
/* ### STICKY HEADER ### */
/* ##################### */
header#flowcus-header.sticky {
    position: fixed;
}


/* ##################### */
/* ### HEADER LAYOUT ### */
/* ##################### */

/* # BIG LAYOUT # */
header#flowcus-header.big-layout {
    flex-direction: column;
}

header#flowcus-header.big-layout section {
    flex-direction: column;
}

header#flowcus-header.big-layout section#views {
}

header#flowcus-header.big-layout section#actions {
}


header#flowcus-header.big-layout section h2 {
    margin-bottom: -7px;
}

header#flowcus-header.big-layout.display-hotkeys {

}

/* # CONDENSED LAYOUT # */
header#flowcus-header.condensed-layout,
header#flowcus-header.ultra-condensed-layout {
    flex-direction: row;
    flex-wrap: nowrap
}

header#flowcus-header.condensed-layout section,
header#flowcus-header.ultra-condensed-layout section {
    flex-direction: row;
}


header#flowcus-header.condensed-layout section#views,
header#flowcus-header.ultra-condensed-layout section#views {
    /* width: 50% */
}

header#flowcus-header.condensed-layout section#actions,
header#flowcus-header.ultra-condensed-layout section#actions {
    /* width: 50% */
}

header#flowcus-header.condensed-layout.condensed-button-click-behavior,
header#flowcus-header.ultra-condensed-layout.condensed-button-click-behavior {

}

header#flowcus-header.condensed-layout.condensed-hover-behavior,
header#flowcus-header.ultra-condensed-layout.condensed-hover-behavior {

}

/* # ULTRA-CONDENSED LAYOUT # */

header#flowcus-header.ultra-condensed-layout section nav button span.name {
    display: none;
}

header#flowcus-header.ultra-condensed-layout section nav button span.icon {
    padding-right: 0;
}


/* # HIDDEN LAYOUT # */
header#flowcus-header.hidden-layout {
    display: none;
}
