/* ########################### */
/* ### COMMON HEADER STYLE ### */
/* ########################### */
header#harmonic-header {
    z-index: 99999999999999;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: antiquewhite;
    display: flex;
}

header#harmonic-header section {
    display: flex;
    justify-content: center;
    align-items: center;
}

header#harmonic-header section nav {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ##################### */
/* ### STICKY HEADER ### */
/* ##################### */
header#harmonic-header.sticky {
    position: fixed;
}


/* ##################### */
/* ### HEADER LAYOUT ### */
/* ##################### */

/* # BIG LAYOUT # */
header#harmonic-header.big-layout {
    flex-direction: column;
}

header#harmonic-header.big-layout.display-hotkeys {

}

body.harmonic-header-displayed.harmonic-header-big-layout {
    padding-top: 150px;
}

/* # CONDENSED LAYOUT # */
header#harmonic-header.condensed-layout {
    flex-direction: row;
    flex-wrap: nowrap
}

header#harmonic-header.condensed-layout section#views {
    /* width: 50% */
}

header#harmonic-header.condensed-layout section#actions {
    /* width: 50% */
}

body.harmonic-header-displayed.harmonic-header-condensed-layout {
    padding-top: 75px;
}

header#harmonic-header.condensed-layout.condensed-button-click-behavior {

}

header#harmonic-header.condensed-layout.condensed-hover-behavior {

}

/* # HIDDEN LAYOUT # */
header#harmonic-header.hidden-layout {
    display: none;
}

body.harmonic-header-displayed.harmonic-header-hidden-layout {
    padding-top: 0px;
}
