<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/0_common/staticfiles/styles/destyle.css"/>
        <link rel="stylesheet" href="/0_common/staticfiles/styles/variables.css"/>
        <link rel="stylesheet" href="../styles/options.css"/>
    </head>

    <body class="requires-css-reset">
        <aside>
            <h1>Flowcus Settings</h1>
            <nav class="indented">
                <h2>Appearances</h2>
                <button class="option-page-button" data-page="appearance-general">General</button>
                <button class="option-page-button" data-page="appearance-header">Header</button>

                <h2>Behaviors</h2>
                <button class="option-page-button" data-page="behaviors-general">General</button>
                <button class="option-page-button" data-page="behaviors-views">Views</button>
                <ul>
                    <li><button class="option-page-button" data-page="behaviors-view-clutter-full">Clutter-full</button></li>
                    <li><button class="option-page-button" data-page="behaviors-view-clutter-free">Clutter-free</button></li>
                    <li><button class="option-page-button" data-page="behaviors-view-markdown">Markdown</button></li>
                </ul>
                <button class="option-page-button" data-page="behaviors-actions">Actions</button>
                <ul>
                    <li><button class="option-page-button" data-page="behaviors-action-markdown-to-clipboard">Markdown ➜ Clipboard</button></li>
                    <li><button class="option-page-button" data-page="behaviors-action-markdown-to-obsidian">Markdown ➜ Obsidian</button></li>
                    <li><button class="option-page-button" data-page="behaviors-action-markdown-to-custom">Markdown ➜ Custom</button></li>
                </ul>
                <button class="option-page-button" data-page="behaviors-workflows">Workflows</button>
            </nav>
        </aside>

        <main>
            <section class="option-page indented" id="appearance-general">
                <h2>Appearances > <span>General</span></h2>

                <div>
                    <label for="primary-color">Primary color</label>
                    <input type="color" name="primary-color" value="#B6712E"/>
                </div>

                <div>
                    <label for="secondary-color">Secondary color</label>
                    <input type="color" name="secondary-color" value="#7b6cd9"/>
                </div>
            </section>

            <section class="option-page indented" id="appearance-header">
                <h2>Appearances > <span>Header</span></h2>

                <div>
                    <label for="sticky-header">Sticky header</label>
                    <input type="checkbox" name="sticky-header" checked="false"/>
                    <p class="description">If the header is sticky it will be fixed on the top of your page content even if you scroll down.</p>
                </div>

                <div>
                    <label for="header-layout">Header's layout&nbsp;</label>
                    <select class="browser-style" name="header-layout">
                        <option value="big">Big</option>
                        <option value="condensed" selected>Condensed</option>
                        <option value="ultra-condensed" selected>Ultra-condensed</option>
                        <option value="hidden">Hidden</option>
                    </select>
                </div>

                <div>
                    <label for="ultra-condensed-hover">Ultra-condensed become Condensed on hover&nbsp;</label>
                    <input type="checkbox" name="ultra-condensed-hover" checked="false"/>
                    <p class="description">If this setting is 'on' and if you have choosen the 'Ultra-condensed' header's layout, the layout will be switched to 'Condensed' each time you hover the header.</p>
                </div>

                <div>
                    <label for="display-View-hotkeys">Display views' hotkeys on hover</label>
                    <input type="checkbox" name="display-View-hotkeys" checked="true"/>
                    <p class="description">If checked, views' hotkeys will be displayed each time your mouse hover a view button.</p>
                </div>

                <div>
                    <label for="display-Action-hotkeys">Display actions' hotkeys on hover</label>
                    <input type="checkbox" name="display-Action-hotkeys" checked="true"/>
                    <p class="description">If checked, actions' hotkeys will be displayed each time your mouse hover a action button.</p>
                </div>
            </section>

            <section class="option-page indented" id="behaviors-general">
                <h2>Behaviors > <span>General</span></h2>

                <div>
                    <label for="auto-start">Auto-start</label>
                    <input type="checkbox" name="auto-start" checked="false"/>
                    <p class="description">If checked Flowcus will be automatically started on each page you load. It might not works on websites that use lazy loading or XHR.</p>
                </div>
            </section>

            <section class="option-page indented" id="behaviors-views">
                <h2>Behaviors > <span>Views</span></h2>

                <div>
                    <label for="default-view">Default view&nbsp;</label>
                    <select class="browser-style" name="default-view">
                        <option value="View.clutter-full" selected>Clutter-full</option>
                        <option value="View.clutter-free">Clutter-free</option>
                        <option value="View.markdown">Markdown</option>
                    </select>
                </div>

                <h3>Enabled views</h3>

                <ul>
                    <li>
                        <div>
                            <label for="View.clutter-full-enabled">Clutter-full</label>
                            <input type="checkbox" name="View.clutter-full-enabled" checked="true"/>
                        </div>
                    </li>

                    <li>
                        <div>
                            <label for="View.clutter-free-enabled">Clutter-free</label>
                            <input type="checkbox" name="View.clutter-free-enabled" checked="true"/>
                        </div>
                    </li>

                    <li>
                        <div>
                            <label for="View.markdown-enabled">Markdown</label>
                            <input type="checkbox" name="View.markdown-enabled" checked="true"/>
                        </div>
                    </li>
                </ul>
            </section>

            <section class="option-page indented" id="behaviors-view-clutter-full">
                <h2>Behaviors > Views > <span>Clutter-full</span></h2>
            </section>

            <section class="option-page indented" id="behaviors-view-clutter-free">
                <h2>Behaviors > Views > <span>Clutter-free</span></h2>

                <div>
                    <label for="auto-indent">Auto-indent</label>
                    <input type="checkbox" name="auto-indent" checked="true"/>
                    <p class="description">If checked the clutter-free content will be beautifully indented to improve the readability.</p>
                </div>
            </section>

            <section class="option-page indented" id="behaviors-view-markdown">
                <h2>Behaviors > Views > <span>Markdown</span></h2>
            </section>

            <section class="option-page indented" id="behaviors-actions">
                <h2>Behaviors > <span>Actions</span></h2>

                <h3>Enabled actions</h3>
                <ul>
                    <li>
                        <div>
                            <label for="Action.markdown-to-clipboard-enabled">Markdown ➜ Clipboard</label>
                            <input type="checkbox" name="Action.markdown-to-clipboard-enabled" checked="true"/>
                        </div>
                    </li>

                    <li>
                        <div>
                            <label for="Action.markdown-to-obsidian-enabled">Markdown ➜ Obsidian</label>
                            <input type="checkbox" name="Action.markdown-to-obsidian-enabled" checked="true"/>
                        </div>
                    </li>

                    <li>
                        <div>
                            <label for="Action.markdown-to-custom-enabled">Markdown ➜ Custom</label>
                            <input type="checkbox" name="Action.markdown-to-custom-enabled" checked="true"/>
                        </div>
                    </li>
                </ul>
            </section>

            <section class="option-page indented" id="behaviors-action-markdown-to-clipboard">
                <h2>Behaviors > Actions > <span>Markdown ➜ Clipboard</span></h2>
            </section>

            <section class="option-page indented" id="behaviors-action-markdown-to-obsidian">
                <h2>Behaviors > Actions > <span>Markdown ➜ Obsidian</span></h2>
                <div>
                    <label for="obsidian-vault">Obsidian vault</label>
                    <input type="text" name="obsidian-vault" placeholder="MyVault"/>
                    <p class="description">The name of your local Obsidian vault.</p>
                </div>

                <div>
                    <label for="obsidian-folder">Obsidian folder in vault</label>
                    <input type="text" name="obsidian-folder" placeholder="My/Folder/"/>
                    <p class="description">The name of the exisiting folder inside your Obsidian vault in which you want to put the clipped contents to. Must end by /.</p>
                </div>

                <div>
                    <label for="obsidian-note-formatting" >Header formatting</label>
                    <textarea type="text" name="obsidian-note-formatting" default="
                    **Metadatas**
                    - Date/time: {{ now | format("dd/MM/yyyy HH:mm") }}
                    - Source : [{{ title }}]({{ url }})
                    - Publication date : {{ publication_datetime | format("dd/MM/yyyy") }}
                    - Author : {{ author }}
                    - Words' count : {{ words_count }}
                    ---

                    "></textarea>
                    <p class="description">An header can be automatically added to a clipped note before it is sent to Obsidian. Using the Nunjucks/Jinja syntax you can customize this header. Just format the header and put data tags.<br/><br/>
                        Here are some available tags :<br/>
                        - {{ now }} to get the current datetime<br/>
                        - {{ title }} to get the content's title<br/>
                        - {{ url }} to get the content's url<br/>
                        - {{ domain }} to get the content's domain name<br/>
                        - {{ publication_datetime }} to get the content's publication datetime<br/>
                        - {{ author }} to get the content's author name<br/>
                        - {{ excerpt }} to get the content's excerpt name<br/>
                        - {{ word_count }} to get the content's number of words<br/><br/><br/>
                        Learn everything about tags and filters here : <br/><br/>
                        Note that some of these datas may not be found or could be missing, they'll just not be filled in the render.
                    </p>
                </div>
            </section>

            <section class="option-page indented" id="behaviors-action-markdown-to-custom">
                <h2>Behaviors > Actions > <span>Markdown ➜ Custom</span></h2>
            </section>

            <section class="option-page indented" id="behaviors-workflows">
                <h2>Behaviors > <span>Workflows</span></h2>
            </section>
        </main>

        <script src="/0_common/staticfiles/libs/tiny-color.min.js"></script>
        <script src="/0_common/settings/settings.js"></script>
        <script src="/0_common/indenter/indenter.js"></script>
        <script src="/0_common/style_manager/style_manager.js"></script>
        <script src="../libs/browser_options_manager.js"></script>
        <script src="../../main.js"></script>
    </body>
</html>
