<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../styles/options.css"/>
    </head>

    <body>

        <form>
            <h1>Flowcus Settings</h1>

            <h2>General Settings</h2>

                <h3>Header</h3>

                    <div>
                        <label for="header-primary-color">Header primary color</label>
                        <input type="color" name="header-primary-color" value="#B6712E"/>
                    </div>

                    <div>
                        <label for="header-secondary-color">Header secondary color</label>
                        <input type="color" name="header-secondary-color" value="#7b6cd9"/>
                    </div>

                    <div>
                        <label for="sticky-header">Sticky header</label>
                        <input type="checkbox" name="sticky-header" checked="false"/>
                        <p class="description">If the header is sticky it will be fixed on the top of your page content even if you scroll down.</p>
                    </div>

                    <div>
                        <label for="header-layout">Header's layout&nbsp;</label>
                        <select class="browser-style" name="header-layout">
                            <option value="big">Big</option>
                            <option value="condensed" selected>Condensed</option>
                            <option value="ultra-condensed" selected>Ultra-condensed</option>
                            <option value="hidden">Hidden</option>
                        </select>
                    </div>

                    <div>
                        <label for="condensed-layout-behavior">Condensed layout become Big on&nbsp;</label>
                        <select class="browser-style" name="condensed-layout-behavior">
                            <option value="hover">Hover</option>
                            <option value="button-click" selected>Button click</option>
                        </select>
                        <p class="description">If you have choosen the 'Condensed' header's layout, this setting defines in which condition the header will be transformed in 'Big' layout.</p>
                    </div>

                    <div>
                        <label for="display-actions-hotkeys">Display actions' hotkeys</label>
                        <input type="checkbox" name="display-actions-hotkeys" checked="true"/>
                        <p class="description">If this is checked, actions' hotkeys will be displayed under the actions's button in the header.</p>
                    </div>

                    <div>
                        <label for="display-views-hotkeys">Display views' hotkeys</label>
                        <input type="checkbox" name="display-views-hotkeys" checked="true"/>
                        <p class="description">If this is checked, views' hotkeys will be displayed under the views's button in the header.</p>
                    </div>

                <h3>Extension's scripts</h3>

                    <div>
                        <label for="automatically-loaded">Auto-loaded extension</label>
                        <input type="checkbox" name="automatically-loaded" checked="true"/>
                        <p class="description">By default the Flowcus's scripts are automatically added to each page you load, it allows the friction-less magic of this extension. But sometimes you might want to disable this behavior.</p>
                    </div>

            <h2>Views Settings</h2>

                <div>
                    <label for="default-view">Default view&nbsp;</label>
                    <select class="browser-style" name="default-view">
                        <option value="clutter-full-view" selected>Clutter-full</option>
                        <option value="clutter-free-view">Clutter-free</option>
                        <option value="markdown-view">Markdown</option>
                    </select>
                </div>

                <h3>Clutter-full</h3>
                    <div>
                        <label for="enable-clutter-full-view">Enable</label>
                        <input type="checkbox" name="enable-clutter-full-view" checked="true"/>
                    </div>

                <h3>Clutter-free</h3>
                    <!-- Functionnalities : Dark mode, change font size, typographie-->
                    <div>
                        <label for="enable-clutter-free-view">Enable</label>
                        <input type="checkbox" name="enable-clutter-free-view" checked="true"/>
                    </div>

                    <div>
                        <label for="auto-indent">Auto-indent</label>
                        <input type="checkbox" name="auto-indent" checked="true"/>
                        <p class="description">If checked the clutter-free content will be beautifully indented to improve the readability.</p>
                    </div>

                <h3>Markdown</h3>
                    <div>
                        <label for="enable-markdown-view">Enable</label>
                        <input type="checkbox" name="enable-markdown-view" checked="true"/>
                    </div>

            <h2>Actions Settings</h2>

                <h3>Clip to KM software</h3>

                    <div>
                        <label for="used-software">Used software&nbsp;</label>
                        <select class="browser-style" name="used-software">
                            <option value="obsidian" selected>Obsidian</option>
                            <option value="roam-research" disabled>Roam research (not available yet)</option>
                            <option value="foam" disabled>Foam (not available yet)</option>
                        </select>
                        <p class="description">This setting asks you which Knowledge Management software you want to clip your content to ?</p>
                    </div>

                    <h4>Obsidian</h4>

                        <div>
                            <label for="obsidian-vault">Obsidian vault</label>
                            <input type="text" name="obsidian-vault" placeholder="MySuperVault"/>
                            <p class="description">The name of your local Obsidian vault.</p>
                        </div>

                        <div>
                            <label for="obsidian-folder">Obsidian folder in vault</label>
                            <input type="text" name="obsidian-folder" placeholder="My/Super/Folder/"/>
                            <p class="description">The name of the exisiting folder inside your Obsidian vault in which you want to put the clipped contents to.</p>
                        </div>

                    <h4>Roam Research</h4>

                        <p>Not avaialable yet.</p>

                    <h4>Foam</h4>

                        <p>Not avaialable yet.</p>

                <h3>Copy to clipboard</h3>

                <h3>Save as markdown</h3>

            <button type="submit">Save</button>
        </form>

        <script src="../scripts/settings.js"></script>
        <script src="../scripts/indent.js"></script>
        <script src="../../main.js"></script>
    </body>
</html>
